/* @media(min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}


@media(min-width: 700px) {
  :root {
      --pixel-size: 3px;
  }
} */

/* @media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25p;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .gpt3__features-container_feature-text p {
    font-size: 12px;
    line-height: 20px;
  }

  .gpt3__features-container__feature {
    margin: 1rem 0;
  }
}

/* For tablet screen sizes */
/* @media screen and (max-width: 1050px) {
  .gpt3__navbar-links_container {
    display: none;
  }

  .gpt3__navbar-menu {
    display: flex;
  }
} */
/* 
/* For screen sizes */
/* @media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
} */

/* For smasllest screen sizes */
/* @media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }

  .gpt3__navbar-sign {
    display: none;
  }

  .gpt3__navbar-menu_container {
    top: 20px;
  }

  .gpt3__navbar-menu_container-links-sign {
    display: block;
  }
}   */


/* Best practice breakpoint/media query sizes below here */

/* 1200px */
@media(min-width: 75em) {
  :root {
    --pixel-size: 4px;

  }
  
    img {
      width: 100%;
    }
}

/* 992 px */
@media(min-width: 62em) {
  :root {
      --pixel-size: 4px;
    
  }
    img {
      width: 100%;
    }
} 

/* 768 px */
 @media(min-width: 48em) {
  :root {
    --pixel-size: 4px;
  }
  
    img {
      width: 100%;
    }
}

/* 576px */
@media(min-width: 36em) {
  :root {--pixel-size: 4px;}
      
  img {width: 100%;}
} 


/* 480px */
@media(min-width: 30em) {
  :root {
      --pixel-size: 4px;
    }
    
    
  img {
    width: 100%;
  }
  
}

/* 320px */
@media(min-width: 20em) {
  :root {
      --pixel-size: 4px;
    }


  img {
    width: 100%;
  }
}



:root {
  display: flex;
  align-items: center;
  justify-content: center;;
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size) * 12);
  --bg: #090000;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-art {
  image-rendering: pixelated;
}

.camera {
  position: relative;
  /* width: calc(var(--pixel-size) * 476);
  height: calc(var(--pixel-size) * 236); */
  /* width: calc(var(--pixel-size) * 292);
  height: calc(var(--pixel-size) * 224); */
  width: calc(var(--pixel-size) * 310);
  height: calc(var(--pixel-size) * 184);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: #000a0b;
  max-width: 100%;
}

.map {
  position: relative;
  image-rendering: pixelated;
  display: grid;
  grid-template-columns: repeat(20, 64px);
  grid-template-rows: repeat(12, 64px); 
  max-height: 50000px;
  min-width: 50000px;
  background-image: url("./assets/maps/map 40x 40 w grid.png");
  background-size: 2560px; 
  width: calc(40 * var(--grid-cell));
  height: calc(40 * var(--grid-cell)); 
  
  background-repeat:no-repeat
}

 .character {
  /* z-index: -1; */
  position: absolute;
  /* display: inline-block; */
  width: calc(var(--grid-cell)* 2);
  height: calc(var(--grid-cell)* 2);
  overflow: hidden;
  grid-column-start: 10;
  grid-row-start: 5;
}

.character_spritesheet {
  background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)* 8);
  height: calc(var(--grid-cell)* 8);
}

.character_spritesheet2 {
  background: url("./assets/images/MainGuyLift.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)* 2);
  height: calc(var(--grid-cell)* 2);
}

.character[facing="right"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -48);
}

.character[facing="up"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -72);
}

.character[facing="left"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -24);
}

.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}


@keyframes walkAnimation {
  from {
      transform: translate3d(0%, 0%, 0);
  }

  to {
      transform: translate3d(-100%, 0%, 0);
  }
}

#dialogStyle {
  position: absolute;
  background-color: rgb(243, 236, 236);
}

.textBox {
  position: absolute;
  border-radius: 15px;
  border: 3px solid;
  box-shadow: 1px -2px 10px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.94;
  bottom: 22px;
  width: 93%;
  height: 25%;
  color: rgb(0, 0, 0);
  background: rgb(173, 173, 173);
  background: linear-gradient(0deg, rgba(173, 173, 173, 1) 0%, rgba(212, 218, 217, 1) 55%);
}


p {
  position: absolute;
  margin-left: 155px;
  font-family: Pokemon-Classic;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.pokeText {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-family: Pokemon-Classic;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 11px;
}

/* .typewriter p {
  overflow: hidden;
  white-space: normal;
  animation:
  typing 3s steps(40, end),
  .75s step-end infinite;
} */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.mainMenu {
  border-radius: 15px;
  border: 3px solid;
  box-shadow: 1px -2px 10px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.94;
  top: 180px;
  left: 800px;
  width: 20%;
  height: 60%;
  color: rgb(0, 0, 0);
  background: rgb(173, 173, 173);
  background: linear-gradient(0deg, rgba(173, 173, 173, 1) 0%, rgba(212, 218, 217, 1) 55%);
}


 .box1 {
   display: flex;
   position: absolute;
   top: 0px;
   left: 1257px;
   width: 275px;
   height: 213px;
   padding: 10px;
  border: 4px solid rgb(0, 4, 255);
   border-radius: 10px;
   margin: 0;
   background: rgb(9, 9, 9);
 }

  .box1:before {
   display: flex;
   background: none;
   border: 2px solid rgb(0, 0, 0);
   content: "";
   display: block;
   position: absolute;
   top: 2px;
   left: 2px;
   right: 2px;
   bottom: 2px;
   pointer-events: none;
 }

 .box1::before {
   content: '';
   display: block;
   background: rgba(255, 255, 255, 0.2);
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
 }

 .box2 {
   display: flex;
   position: absolute;
   top: 248px;
  left: 1257px;
    width: 275px;
      height: 213px;
   padding: 10px;
  border: 4px solid rgb(0, 4, 255);
   border-radius: 10px;
   margin: 0;
   background: rgb(9, 9, 9);
 }
  .box2:before {
   display: flex;
   background: none;
   border: 2px solid rgb(0, 0, 0);
   content: "";
   display: block;
   position: absolute;
    top: 2px;
   left: 2px;
   right: 2px;
   bottom: 2px;
   pointer-events: none;
 }

 .box2::before {
   content: '';
   display: block;
   background: rgba(255, 255, 255, 0.2);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
 }

 .box3 {
   display: flex;
   position: absolute;
   top: 496px;
  left: 1257px;
    width: 275px;
      height: 213px;
   padding: 10px;
  border: 4px solid rgb(0, 4, 255);
   border-radius: 10px;
   margin: 0;
   background: rgb(9, 9, 9);
 }

 .box3:before {
   display: flex;
   background: none;
  border: 2px solid rgb(0, 0, 0);
   content: "";
   display: block;
   position: absolute;
   top: 2px;
   left: 2px;
   right: 2px;
   bottom: 2px;
   pointer-events: none;
 }

 .box3::before {
   content: '';
   display: block;
   background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
 }

    .box4 {
      display: flex;
      position: absolute;
      top: 0px;
      left: -326px;
      width: 287px;
      height: 708px;
      padding: 10px;
    border: 4px solid rgb(2, 6, 255);
      border-radius: 10px;
      margin: 0;
      background: rgb(9, 9, 9);
    }
  
    .box4:before {
      display: flex;
      background: none;
      border: 2px solid rgb(0, 0, 0);
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      pointer-events: none;
    }


    .box4::before {
    content: '';
    display: block; 
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
    }


     .box5 {
      display: flex;
      position: absolute;
      top: 740px;
      left: -2px;
      width: 1217px;
      height: 72px;
      padding: 10px;
      border: 4px solid rgb(2, 6, 255);
      border-radius: 10px;
      margin: 0;
      background: rgb(9, 9, 9);
    }

     .box5:before {
      display: flex;
      background: none;
      border: 2px solid rgb(0, 0, 0);
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      pointer-events: none;
    }


    .box5::before {
    content: '';
    display: block; 
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
    }


    .box6 {
      display: flex;
      position: absolute;
      top: -99px;
      left: -2px;
      width: 1217px;
      height: 66px;
      padding: 10px;
      border: 4px solid rgb(2, 6, 255);
      border-radius: 10px;
      margin: 0;
      background: rgb(9, 9, 9);
    }
  
    .box6:before {
      display: flex;
      background: none;
      border: 2px solid rgb(0, 0, 0);
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      pointer-events: none;
    }
  
  
    .box6::before {
      content: '';
      display: block;
      background: rgba(255, 255, 255, 0.2);
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.435)50%, rgba(255, 255, 255, 0.7)100%);
    }

    .clockTime {
       z-index: 999;
       top: -1;
       position: absolute;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 500;
        height: 100px;
        width: 1000px;
        color: rgb(254, 252, 252);
    }
    
    .clock {
        z-index: 999;
        top: -1;
        position: absolute;
        padding-left: 190px;
        color: rgb(254, 254, 254);
        font-size: 120;
        font-weight: 500;
    }



    