:root {
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size) * 12);
  --bg: #070000;
}

@media(min-width: 700px) {
  :root {
      --pixel-size: 3px;
  }
}

@media(min-width: 1000px) {
  :root {
      --pixel-size:4px;
  }
}

.pixel-art {
  image-rendering: pixelated;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-art {
  image-rendering: pixelated;
}

.camera {
  width: calc(var(--pixel-size) * 310);
  height: calc(var(--pixel-size) * 184);
  overflow: hidden;
  background: #000a0b;
  position: relative;
}

.map {
  image-rendering: pixelated;
  display: grid;
  grid-template-columns: repeat(20, 64px);
  grid-template-rows: repeat(12, 64px); 
   max-height: 50000px;
  min-width: 50000px;
  background-image: url("./assets/maps/map 40x 40 w grid.png");
  background-size: 2560px; 
  width: calc(40 * var(--grid-cell));
  height: calc(40 * var(--grid-cell)); 
  position: absolute;
  background-repeat:no-repeat
}

 .character {
  width: calc(var(--grid-cell)* 2);
  height: calc(var(--grid-cell)* 2);
  overflow: hidden;
  grid-column-start: 10;
  grid-row-start: 5;
}

.character_spritesheet {
  position: absolute;
  background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)* 8);
  height: calc(var(--grid-cell)* 8);
}

.character[facing="right"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -48);
}

.character[facing="up"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -72);
}

.character[facing="left"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -24);
}

.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}


@keyframes walkAnimation {
  from {
      transform: translate3d(0%, 0%, 0);
  }

  to {
      transform: translate3d(-100%, 0%, 0);
  }
}

.textBox {
  border-radius: 15px;
  border: 3px solid;
  box-shadow: 1px -2px 10px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.94;
  bottom: 23px;
  width: 90%;
  height: 25%;
  color: rgb(0, 0, 0);
  background: rgb(173, 173, 173);
  background: linear-gradient(0deg, rgba(173, 173, 173, 1) 0%, rgba(212, 218, 217, 1) 55%);
}

p {
  /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: Pokemon-Classic;
  color: rgb(0, 0, 0);
  /* font-weight: 100; */
  font-size: 25px;
}

.typewriter p {
  overflow: hidden;
  white-space: nowrap;
  animation:
  typing 3.5s steps(40, end),
  .75s step-end infinite;
}


@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}