:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 12);
    --bg: #070000;

}

@media(min-width: 700px) {
    :root {
        --pixel-size: 3px;
    }
}

@media(min-width: 1000px) {
    :root {
        --pixel-size: 4px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}


.mapCC {
    image-rendering: pixelated;
    background-image: url("./assets/maps/Crystal Caverns tweaks no grid.png");
    background-size: 3840px;
    width: calc(150 * var(--grid-cell));
    height: calc(150 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(71, 64px);
    grid-template-rows: repeat(60, 64px); */
}


/* .numbers {
    size: 100%;
    background: transparent;
}  */


@keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }
}

@keyframes waterAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(0%, -1%, 0);
    }
}



 .water {
     width: calc(var(--grid-cell) * 6.8);
     height: calc(var(--grid-cell)* 62.7);
     overflow: hidden;
 }

 .water_spritesheet {
     position: absolute;
     background: url("./assets/images/river no grid.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 8);
     height: calc(var(--grid-cell)* 80);
 }

 .water .water_spritesheet {
     animation: waterAnimation .5s steps(4) infinite;
 }
