@media(min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media(min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}

.mapF {
  image-rendering: pixelated;
  background-image: url("./assets/maps/Farm map no grid npc.png");
  background-size: 3840px; 
  width: calc(150 * var(--grid-cell));
  height: calc(115 * var(--grid-cell)); 
  position: absolute;
  background-repeat:no-repeat;
  overflow: visible;
  /* display: grid;
  grid-template-columns: repeat(46, 64px);
  grid-template-rows: repeat(60, 64px); */
} 
    
/* .numbers {
    size: 100%;
    background: transparent;
} */


@keyframes walkAnimationFarmer {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

     .farmer1FM {
      position: absolute;
       width: calc(var(--grid-cell)* 2.5);
       height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
     }
  
     .farmer1FM_spritesheet {
       background: url("./assets/images/farmer.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 34);
       height: calc(var(--grid-cell)* 3);
       background-position-x: calc(var(--pixel-size) * -99);
     }
  
     .farmer1FM .farmer1FM_spritesheet {
      animation: walkAnimationFarmer 3.0s steps(2) infinite;
     }
  
  
     .facefarmer1FM {
       background: url("./assets/images/Inddor House 2 guy face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
     }


     .farmer2FM {
      position: absolute;
      width: calc(var(--grid-cell)* 2.5);
      height: calc(var(--grid-cell)* 2.5);
      overflow: hidden;
     }
  
     .farmer2FM_spritesheet {
       background: url("./assets/images/farmer2.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 34);
       height: calc(var(--grid-cell)* 3);
       background-position-y: calc(var(--pixel-size) * -160);
       background-position-x: calc(var(--pixel-size) * -99);
     }
  
     .farmer2FM .farmer2FM_spritesheet {
       animation: walkAnimationFarmer 2.0s steps(2) infinite;
     }
  


    .girlFM {
      position: absolute;
       width: calc(var(--grid-cell)* 2.5);
       height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
     }
  
     .girlFM_spritesheet {
       background: url("./assets/images/Farm Map flower girl.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 7);
       height: calc(var(--grid-cell)* 3);
     }
  
     .girlFM .girlFM_spritesheet {
      animation: walkAnimationFarmer 2.0s steps(3) infinite;
     }
  
     .faceGirlFM {
       background: url("./assets/images/Indoor House 8 girl face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
     }
  

@keyframes square {
  0%
  {
    margin-left: 0px; margin-top: 0px;
  }
  25%
  {
    margin-left: 200px; margin-top: 0px;
  }
  50%
  {
    margin-left: 200px; margin-top: 200px;
  }
  75%
  {
    margin-top: 200px; margin-left: 0px;
  }
  100%
  {
    margin-left: 0px; margin-top: 0px;
  }
}