:root {
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size) * 12);
  --bg: #070000;

}

@media(min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media(min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-art {
  image-rendering: pixelated;
}


.mapF {
  image-rendering: pixelated;
  background-image: url("./assets/maps/Farm map no grid npc.png");
  background-size: 3840px; 
  width: calc(150 * var(--grid-cell));
  height: calc(115 * var(--grid-cell)); 
  position: absolute;
  background-repeat:no-repeat;
  overflow: visible;
  /* display: grid;
  grid-template-columns: repeat(46, 64px);
  grid-template-rows: repeat(60, 64px); */
} 
    
/* .numbers {
    size: 100%;
    background: transparent;
} */


.character {
  width: calc(var(--grid-cell)* 2);
  height: calc(var(--grid-cell)* 2);
  overflow: hidden;
}

.character_spritesheet {
  position: absolute;
  background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)* 8);
  height: calc(var(--grid-cell)* 8);

}

.character[facing="right"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -48);
}

.character[facing="up"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -72);
}

.character[facing="left"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -24);
}

.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}


@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

@keyframes walkAnimationFarmer {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

     .farmer1FM {
       width: calc(var(--grid-cell)* 2.5);
       height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
     }
  
     .farmer1FM_spritesheet {
       position: absolute;
       background: url("./assets/images/farmer.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 34);
       height: calc(var(--grid-cell)* 3);
       background-position-x: calc(var(--pixel-size) * -99);
     }
  
     .farmer1FM .farmer1FM_spritesheet {
      animation: walkAnimationFarmer 3.0s steps(2) infinite;
     }
  
  
     .facefarmer1FM {
       background: url("./assets/images/Inddor House 2 guy face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
     }


     .farmer2FM {
      width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
        overflow: hidden;
     }
  
     .farmer2FM_spritesheet {
       position: absolute;
       background: url("./assets/images/farmer2.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 34);
       height: calc(var(--grid-cell)* 3);
       background-position-y: calc(var(--pixel-size) * -160);
       background-position-x: calc(var(--pixel-size) * -99);
     }
  
     .farmer2FM .farmer2FM_spritesheet {
       animation: walkAnimationFarmer 2.0s steps(2) infinite;
     }
  


    .girlFM {
       width: calc(var(--grid-cell)* 2.5);
       height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
     }
  
     .girlFM_spritesheet {
       position: absolute;
       background: url("./assets/images/Farm Map flower girl.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 7);
       height: calc(var(--grid-cell)* 3);
     }
  
     .girlFM .girlFM_spritesheet {
      animation: walkAnimationFarmer 2.0s steps(3) infinite;
     }
  
     .faceGirlFM {
       background: url("./assets/images/Indoor House 8 girl face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
     }


     .dogFM {
       z-index: -1;
       width: calc(var(--grid-cell) * 2.5);
       height: calc(var(--grid-cell) * 2);
       overflow: hidden;
       position: absolute;
       animation-name: square;
       animation: square 17s linear infinite;
     }
  
     .dogFM_spritesheet {
       position: absolute;
       background: url("./assets/images/Dog 2 walk.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell) * 96);
       height: calc(var(--grid-cell)* 2);
       background-position-y: calc(var(--pixel-size) * -0);
       background-position-x: calc(var(--pixel-size) * -0 );
       
     }
  
     .dogFM .dogFM_spritesheet {
      animation: walkAnimationFarmer 11s steps(48) infinite; 
     }
  

@keyframes square {
  0%
  {
    margin-left: 0px; margin-top: 0px;
  }
  25%
  {
    margin-left: 200px; margin-top: 0px;
  }
  50%
  {
    margin-left: 200px; margin-top: 200px;
  }
  75%
  {
    margin-top: 200px; margin-left: 0px;
  }
  100%
  {
    margin-left: 0px; margin-top: 0px;
  }
}