 :root {
     --pixel-size: 2px;
     --grid-cell: calc(var(--pixel-size) * 12);
     --bg: #070000;

 }

 @media(min-width: 700px) {
     :root {
         --pixel-size: 3px;
     }
 }

 @media(min-width: 1000px) {
     :root {
         --pixel-size: 4px;
     }
 }

 html,
 body {
     height: 100%;
 }

 body {
     background: var(--bg);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pixel-art {
     image-rendering: pixelated;
 }

 .mapHI {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Hotel indoors no grid npc.png");
     background-size: 1024px;
     width: calc(40 * var(--grid-cell));
     height: calc(55 * var(--grid-cell));
     position: absolute;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(16, 64px);
    grid-template-rows: repeat(22, 64px); */
 }


 /* .numbers {
    size: 100%;
    background: transparent;
}   */


 @keyframes walkAnimation {
     from {
         transform: translate3d(0%, 0%, 0);
     }

     to {
         transform: translate3d(-100%, 0%, 0);
     }
 }

   .guard {
       position: absolute;
       width: calc(var(--grid-cell)* 3);
       height: calc(var(--grid-cell)* 3);
       overflow: hidden;
   }

   .guard_spritesheet {
       background: url("./assets/images/Hotel Indoors guard 1.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell)* 5);
       height: calc(var(--grid-cell)* 5);
   }

   .guard .guard_spritesheet {
       animation: walkAnimation 8s steps(2) infinite;
   }

   .faceGuard {
       background: url("./assets/images/Hotel Indoors Face 1.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }

   .faceGirlHI {
       background: url("./assets/images/Indoor House 3 girl 1 face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }