 .mapHI {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Hotel%20indoors%20no%20grid%20npc.png");
     background-size: 1024px;
     width: calc(40 * var(--grid-cell));
     height: calc(55 * var(--grid-cell));
     position: absolute;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(16, 64px);
    grid-template-rows: repeat(22, 64px); */
 }


 /* .numbers {
    size: 100%;
    background: transparent;
}   */

   .guard {
       position: absolute;
       width: calc(var(--grid-cell)* 3);
       height: calc(var(--grid-cell)* 3);
       overflow: hidden;
   }

   .guard_spritesheet {
       background: url("./assets/images/Hotel%20Indoors%20guard%201.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell)* 5);
       height: calc(var(--grid-cell)* 5);
   }

   .guard .guard_spritesheet {
       animation: walkAnimation 8s steps(2) infinite;
   }

   .faceGuard {
       background: url("./assets/images/Hotel%20Indoors%20Face%201.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }

   .faceGirlHI {
       background: url("./assets/images/Indoor%20House%203%20girl%201%20face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }