.mapIH1 {
    image-rendering: pixelated;
    background-image: url("./assets/maps/IndoorHouse1nogridnpc.png");
    background-size: 960px;
    width: calc(37.5 * var(--grid-cell));
    height: calc(37.5 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(15, 64px);
    grid-template-rows: repeat(15, 64px); */
}


 /* .numbers {
    size: 100%;
    background: transparent;
}  */


.girlIH3 {
    position: absolute;
    width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 3);
    overflow: hidden;
}

.girlIH3_spritesheet {
    background: url("./assets/images/Indoorhouse1girl.png") no-repeat no-repeat;
background-size: 100%;
    width: calc(var(--grid-cell) * 36);
    height: calc(var(--grid-cell)* 3);
}

.girlIH3 .girlIH3_spritesheet {
    animation: walkAnimation 3.5s steps(15) infinite;
}


.facegirlIH3 {
    background: url("./assets/images/Indoorhouse3girlface.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}