.mapIH5 {
    image-rendering: pixelated;
    background-image: url("./assets/maps/Indoor House 5 no grid NPC.png");
    background-size: 1280px;
    width: calc(50 * var(--grid-cell));
    height: calc(37.5 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(20, 64px);
    grid-template-rows: repeat(15, 64px); */
}

/* .numbers {
    size: 100%;
    background: transparent;
}   */

 .girlIH5 {
    position: absolute;
     width: calc(var(--grid-cell)* 2.2);
     height: calc(var(--grid-cell)* 2.2);
     overflow: hidden;
 }

 .girlIH5_spritesheet {
     background: url("./assets/images/Indoor House 5 girl.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)*34);
    height: calc(var(--grid-cell)* 3);
 }

 .girlIH5 .girlIH5_spritesheet {
    animation: walkAnimation 3.5s steps(15) infinite;
 }


 .faceGirlgirlIH5 {
     background: url("./assets/images/Indoor House 5 girl face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
 }