 .mapIH10 {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Indoor House 10 no grid.png");
     background-size: 960px;
     width: calc(37.5 * var(--grid-cell));
     height: calc(37.5 * var(--grid-cell));
     position: absolute;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(15, 64px);
    grid-template-rows: repeat(15, 64px); */
 }

/* .numbers {
    size: 100%;
    background: transparent;
}   */

