html {
    font-size: 16px;
    /* font-size: 62.5% */
}

@font-face {
    font-family: 'Pokemon-Classic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Pokemon-Classic"),
        url("../../fonts/Pokemon-Classic.ttf") format("truetype");
}

@font-face {
    font-family: 'Halo3';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Halo3"),
        url("../../fonts/Halo3.ttf") format("truetype");
}

@font-face {
    font-family: 'zig';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("zig"),
        url("../../fonts/zig.ttf") format("truetype");
}

@font-face {
    font-family: 'aurora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("aurora"),
        url("../../fonts/aurora.ttf") format("truetype");
}

@font-face {
    font-family: 'rexlia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("rexlia"),
        url("../../fonts/rexlia.otf") format("truetype");
}

@font-face {
    font-family: 'joystix monospace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("joystix monospace"),
        url("../../fonts/joystix monospace.ttf") format("truetype");
}

@font-face {
    font-family: 'Gasalt-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Gasalt-Regular"),
        url("../../fonts/Gasalt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Gasalt-Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Gasalt-Black"),
        url("../../fonts/Gasalt-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'Gasalt-Thin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Gasalt-Thin"),
        url("../../fonts/Gasalt-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Pixeboy-z8XGD';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Pixeboy-z8XGD"),
        url("../../fonts/Pixeboy-z8XGD.ttf") format("truetype");
}

.containerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleTextLogin {
    position: relative;
    White-space: nowrap;
    top: -19rem;
    left: 0%;
    border: none;
    color: rgb(255, 0, 0);
    font-size: calc(1rem + 11.3vw);
    z-index: 999;
    font-family: Pixeboy-z8XGD;
}

.title {
    font-size: calc(1rem + 1.2vw);
    color: white;
    z-index: 999;
}

.loginSignupButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    font-size: calc(1rem + .4vw);
    top: 21rem;
    left: 30.0rem;
    background-color: black;
    color: rgb(141, 137, 137);
    /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: Pokemon-Classic;
}

.enterGame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    font-size: calc(1rem + .4vw);
    top: 21rem;
    left: 24.5rem;
    background-color: black;
    color: rgb(141, 137, 137);
    /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: Pokemon-Classic;
}

.darkSkyPic {
    background-image: url('https://cdn.glitch.com/4f83b17b-3d9a-4782-bfb9-3298fce7ff84%2Fstormynight.jpg?1516228334292');
    opacity: .8;
    background-size: cover;
    /* Set rules to fill background this is  set to 1024px*/
        min-height: 100%;
        min-width: 64rem;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        /* Set up positioning */
        position: fixed;
        top: 0rem;
        left: 0rem;
        z-index: -1
}

.darkSkyGif {
    background-image: url('./assets/images/lightning.gif');
    opacity: .9;
    background-size: cover;
    /* Set rules to fill background this is  set to 1024px*/
    min-height: 100%;
    min-width: 64rem;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: -1
}

.cityline {
    background-image: url('./assets/maps/LuLuMountainPassnewtweaksnogrid.png');
    opacity: .5;
    background-size: cover;
    /* Set rules to fill background this is  set to 1024px*/
    min-height: 100%;
    min-width: 64rem;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0rem;
    left: 0rem;
}

