.mapMR {
    image-rendering: pixelated;
    background-image: url("./assets/maps/Manson Ranch tweaks no grid.png");
    background-size: 3840px;
    width: calc(150 * var(--grid-cell));
    height: calc(150 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(60, 64px);
    grid-template-rows: repeat(60, 64px); */
}


/* .numbers {
    size: 100%;
    background: transparent;
} */

 .crazyGuyMR {
     position: absolute;
     width: calc(var(--grid-cell)* 2.5);
     height: calc(var(--grid-cell)* 2.5);
     overflow: hidden;
 }

 .crazyGuyMR_spritesheet {
     background: url("./assets/images/Manson Ranch Crazy Guy.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 7);
     height: calc(var(--grid-cell)* 3);
 }

 .crazyGuyMR .crazyGuyMR_spritesheet {
     animation: walkAnimation .6s steps(3) infinite;
 }


 .faceCrazyGuyMR {
     background: url("./assets/images/Manson Ranch Crazy Guy Face.png") no-repeat no-repeat;
     background-position: left top;
     background-size: 12%;
     background-size: content-box;
 }


  .girlShiekMR {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
  }

  .girlShiekMR_spritesheet {
      background: url("./assets/images/Manson Ranch Shiek.png") no-repeat no-repeat;
      background-size: 100%;
      width: calc(var(--grid-cell)* 7);
      height: calc(var(--grid-cell)* 3);
  }

  .girlShiekMR .girlShiekMR_spritesheet {
    animation: walkAnimation 2.0s steps(3) infinite;
  }


  .faceGirlShiekMR {
      background: url("./assets/images/Shiek Girl Face.png") no-repeat no-repeat;
      background-position: left top;
      background-size: 12%;
      background-size: content-box;
  }


   .girlHippyPrettyMR {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
   }

   .girlHippyPrettyMR_spritesheet {
       background: url("./assets/images/Manson Ranch Hippy Girl Pretty.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .girlHippyPrettyMR .girlHippyPrettyMR_spritesheet {
    animation: walkAnimation 6.6s steps(3) infinite;
   }

   .faceGirlHippyPrettyMR {
       background: url("./assets/images/Manson Ranch Pretty Girl.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }


    .girlLaughingMR {
        position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
        overflow: hidden;
    }
    
    .girlLaughingMR_spritesheet {
        background: url("./assets/images/Manson Ranch Laughing Girl.png") no-repeat no-repeat;
        background-size: 100%;
         width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
    }
    
    .girlLaughingMR .girlLaughingMR_spritesheet {
            animation: walkAnimation .6s steps(3) infinite;
        }
    
    
    .faceGirlLaughingMR {
        background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
        background-position: left top;
        background-size: 12%;
        background-size: content-box;
        }


    .girlHippy1MR {
        position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
   }

   .girlHippy1MR_spritesheet {
       background: url("./assets/images/Manson Ranch Hippy Girl 1.png") no-repeat no-repeat;
       background-size: 100%;
        width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .girlHippy1MR .girlHippy1MR_spritesheet {
    animation: walkAnimation .6s steps(3) infinite;
   }


   .facegirlHippy1MR {
       background: url("./assets/images/Manson Ranch Hippy Face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }