:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 12);
    --bg: #070000;

}

@media(min-width: 700px) {
    :root {
        --pixel-size: 3px;
    }
}

@media(min-width: 1000px) {
    :root {
        --pixel-size: 4px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}


.mapPSH {
    image-rendering: pixelated;
    background-image: url("./assets/maps/President Safe House no grid npc.png");
    background-size: 960px;
    width: calc(37.5 * var(--grid-cell));
    height: calc(37.5 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(15, 64px);
    grid-template-rows: repeat(15, 64px); */
} 


/* .numbers {
    size: 100%;
    background: transparent;
} */


@keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }
}


 .guard1PSH {
    position: absolute;
     width: calc(var(--grid-cell)* 2.5);
     height: calc(var(--grid-cell)* 2.5);
     overflow: hidden;
 }

 .guard1PSH_spritesheet {
   
     background: url("./assets/images/President Safe House guard 1.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 34);
     height: calc(var(--grid-cell)* 3);
 }

 .guard1PSH .guard1PSH_spritesheet {
     animation: walkAnimation 2.6s steps(15) infinite;
 }


 .faceGuard1PSH {
     background: url("./assets/images/President Guard 1 Face.png") no-repeat no-repeat;
     background-position: left top;
     background-size: 12%;
     background-size: content-box;
 }



  .guard2PSH {
      position: absolute;
      width: calc(var(--grid-cell)* 2.5);
      height: calc(var(--grid-cell)* 2.5);
      overflow: hidden;
  }

  .guard2PSH_spritesheet {
      background: url("./assets/images/President Safe House guard 1.png") no-repeat no-repeat;
      background-size: 100%;
      width: calc(var(--grid-cell)* 34);
      height: calc(var(--grid-cell)* 3);
  }

  .guard2PSH .guard2PSH_spritesheet {
      animation: walkAnimation 4.6s steps(15) infinite;
  }




 .general1RH2 {
     position: absolute;
     width: calc(var(--grid-cell)* 2.5);
     height: calc(var(--grid-cell)* 2.5);
     overflow: hidden;
 }

 .general1RH2_spritesheet {
     background: url("./assets/images/President Safe House General 1.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 34);
     height: calc(var(--grid-cell)* 3);
 }

 .general1RH2 .general1RH2_spritesheet {
     animation: walkAnimation 3s steps(15) infinite;
 }


 .faceGeneral1RH2 {
     background: url("./assets/images/President Guard 2 Face.png") no-repeat no-repeat;
     background-position: left top;
     background-size: 12%;
     background-size: content-box;
 }



  .presidentRH2 {
      position: absolute;
      width: calc(var(--grid-cell)* 2.5);
      height: calc(var(--grid-cell)* 2.5);
      overflow: hidden;
  }

  .presidentRH2_spritesheet {
      background: url("./assets/images/President Safe House President.png") no-repeat no-repeat;
      background-size: 100%;
      width: calc(var(--grid-cell)* 34);
      height: calc(var(--grid-cell)* 3);
  }

  .presidentRH2 .presidentRH2_spritesheet {
      animation: walkAnimation 2.7s steps(15) infinite;
  }


  .facePresidentRH2 {
      background: url("./assets/images/Manson Ranch Crazy Guy Face.png") no-repeat no-repeat;
      background-position: left top;
      background-size: 12%;
      background-size: content-box;
  }