.mapRH1 {
    image-rendering: pixelated;
    background-image: url("./assets/maps/Ranch House 1 w grid npc.png");
    background-size: 960px;
    width: calc(37.5 * var(--grid-cell));
    height: calc(37.5 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(15, 64px);
    grid-template-rows: repeat(15, 64px); */
}


/* .numbers {
    size: 100%;
    background: transparent;
} */


    .guy1RH1 {
        position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
   }

   .guy1RH1_spritesheet {
       background: url("./assets/images/Ranch House 1 guy.png") no-repeat no-repeat;
       background-size: 100%;
        width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .guy1RH1 .guy1RH1_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
   }


   .faceGuy1RH1 {
       background: url("./assets/images/Ranch House 1 guy face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }



   .girl1RH1 {
    position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
   }

   .girl1RH1_spritesheet {
       background: url("./assets/images/Ranch House 1 girl.png") no-repeat no-repeat;
       background-size: 100%;
        width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .girl1RH1 .girl1RH1_spritesheet {
    animation: walkAnimation 3s steps(3) infinite;
   }


   .faceGirl1RH1 {
       background: url("./assets/images/Ranch House 1 Girl face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }