.mapSLIH {
  image-rendering: pixelated;
  background-image: url('./assets/maps/SecretIndoorLakeHousenogridnpc.png');
  background-size: 960px;
  width: calc(37.5 * var(--grid-cell));
  height: calc(37.5 * var(--grid-cell));
  position: absolute;
  background-repeat: no-repeat;
  overflow: visible;
  /* display: grid;
    grid-template-columns: repeat(15, 64px);
    grid-template-rows: repeat(15, 64px); */
}

/* .numbers {
    size: 100%;
    background: transparent;
} */

.wizardSILH {
  position: absolute;
  width: calc(var(--grid-cell) * 3);
  height: calc(var(--grid-cell) * 5);
  overflow: hidden;
}

.wizardSILH_spritesheet {
  background: url('./assets/images/SecretWizard.png') no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell) * 10);
  height: calc(var(--grid-cell) * 5);
}

.wizardSILH .wizardSILH_spritesheet {
  animation: walkAnimation 0.7s steps(3) infinite;
}

.faceWizardSILH {
  background: url('./assets/images/SecretWizardface.png') no-repeat no-repeat;
  background-position: left top;
  background-size: 12%;
  background-size: content-box;
}
