.titleTextSignup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -280px;
    left: 0px;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 260px;
}

/* .titleTextSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -280px;
    left: 0px;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 206px;
    font-family: Pixeboy-z8XGD;
} */

/* .titleTextSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -280px;
    left: 0px;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 120px;
    font-family: Pokemon-Classic;
} */

.mainContainerSignup {
    display: flex;
    align-items: center;
    position: fixed;
    left: 850px;
    top: 300px;
}

.label {
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
}

.input {
    font-size: larger;
    padding: 5px;
    margin: 2px;

}

.btn {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px ;
    margin-left: 75px;
}

.messages {
    display: flex;
    justify-content: center;
}

.error {
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
}

.success {
    position: fixed;
    top: 750px;
    display: block;
    color: rgb(182, 42, 42);
    width: fit-content;
    height: 50px;
    padding: 5px;
    font-size: 12px;
}