.mapTW {
    image-rendering: pixelated;
    max-height: 50000px;
    min-width: 50000px;
    background-image: url("./assets/maps/The Wall no grid npc.png");
    background-size: 2688px;
    width: calc(105 * var(--grid-cell));
    height: calc(90 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(71, 64px);
    grid-template-rows: repeat(86, 64px);  */
}

/* .numbers{
      size: 100%;
      background: transparent;
    }   */


.mech1TW {
    position: absolute;
    width: calc(var(--grid-cell) * 4);
    height: calc(var(--grid-cell) * 4);
    overflow: hidden;
}

.mech1TW_spritesheet {
    background: url("./assets/images/mech3.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell) * 12);
    height: calc(var(--grid-cell) * 4);
}

.mech1TW .mech1TW_spritesheet {
    animation: walkAnimation 1.2s steps(3) infinite;
}


.mech2TW {
    position: absolute;
    width: calc(var(--grid-cell) * 4);
    height: calc(var(--grid-cell) * 4);
    overflow: hidden;
}

.mech2TW_spritesheet {
    background: url("./assets/images/mech4.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell) * 12);
    height: calc(var(--grid-cell) * 12);
}

.mech2TW .mech2TW_spritesheet {
    animation: walkAnimation 0.6s steps(3) infinite;
}



.mainGuardTW {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
}

.mainGuardTW_spritesheet {
    background: url("./assets/images/Mountain Entrance Main Guard.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.mainGuardTW .mainGuardTW_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
}


.faceMainGuardTW {
    background: url("./assets/images/Mountain Entrance Main Guard Face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}


.shots1TW {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 2);
    overflow: hidden;
}

.shots1TW_spritesheet {
    background: url("./assets/images/Fighter Shots1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 17);
    height: calc(var(--grid-cell)* 3);
}

.shots1TW .shots1TW_spritesheet {
    animation: walkAnimation .6s steps(13) infinite;
}