 :root {
     --pixel-size: 2px;
     --grid-cell: calc(var(--pixel-size) * 12);
     --bg: #070000;

 }

 @media(min-width: 700px) {
     :root {
         --pixel-size: 3px;
     }
 }

 @media(min-width: 1000px) {
     :root {
         --pixel-size: 4px;
     }
 }

 html,
 body {
     height: 100%;
 }

 body {
     background: var(--bg);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pixel-art {
     image-rendering: pixelated;
 }

 .mapT {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Tortous w grid npc.png");
     background-size: 6656px;
     width: calc(260 * var(--grid-cell));
     height: calc(250 * var(--grid-cell));
     position: absolute;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(104, 64px);
    grid-template-rows: repeat(100, 64px); */
 }


/* .numbers {
    size: 100%;
    background: transparent;
}  */

 .character {
     width: calc(var(--grid-cell)* 2);
     height: calc(var(--grid-cell)* 2);
     overflow: hidden;
 }

 .character_spritesheet {
     position: absolute;
     background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 8);
     height: calc(var(--grid-cell)* 8);

 }

 .character[facing="right"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -48);
 }

 .character[facing="up"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -72);
 }

 .character[facing="left"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -24);
 }

 .character[walking="true"] .character_spritesheet {
     animation: walkAnimation 0.6s steps(4) infinite;
 }


 @keyframes walkAnimation {
     from {
         transform: translate3d(0%, 0%, 0);
     }

     to {
         transform: translate3d(-100%, 0%, 0);
     }
 }


  .demon {
      width: calc(var(--grid-cell)* 2);
      height: calc(var(--grid-cell)* 2);
      overflow: hidden;
  }

  .demon_spritesheet {
      position: absolute;
      background: url("./assets/images/0.png") no-repeat no-repeat;
      background-size: 100%;
      width: calc(var(--grid-cell)* 2);
      height: calc(var(--grid-cell)* 2);
  }






.sweeperGuyTT {
      position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
   }

   .sweeperGuyTT_spritesheet {
       background: url("./assets/images/Tortous sweeper guy.png") no-repeat no-repeat;
       background-size: 100%;
        width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .sweeperGuyTT .sweeperGuyTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
   }


   .facesweeperGuyTT {
       background: url("./assets/images/Indoor House 4 face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }




.brideTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
}

.brideTT_spritesheet {
    background: url("./assets/images/Tortous bride.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.brideTT .brideTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
}


.faceBrideTT {
    background: url("./assets/images/Tortous bride face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}





.redheadTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.redheadTT_spritesheet {
    background: url("./assets/images/Indoor house 1 girl.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 36);
    height: calc(var(--grid-cell)* 3);
}

.redheadTT .redheadTT_spritesheet {
    animation: walkAnimation 3.6s steps(15) infinite;
}


.faceRedheadTT {
    background: url("./assets/images/Indoor house 3 girl face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}




.brunetteTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.brunetteTT_spritesheet {
    background: url("./assets/images/Indoor House 3 Girl 1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 36);
    height: calc(var(--grid-cell)* 3);
}

.brunetteTT .brunetteTT_spritesheet {
    animation: walkAnimation 3.6s steps(15) infinite;
}


.faceBrunetteTT {
    background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}





.crazyGuyTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.crazyGuyTT_spritesheet {
    background: url("./assets/images/Tortous Crazy guy.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.crazyGuyTT .crazyGuyTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
}


.faceCrazyGuyTT {
    background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}





.coinFlipperTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.coinFlipperTT_spritesheet {
    background: url("./assets/images/Tortous Coin Flipper.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.coinFlipperTT .coinFlipperTT_spritesheet {
    animation: walkAnimation .7s steps(3) infinite;
}


.faceCoinFlipperTT {
    background: url("./assets/images/Tortous Coin Flipper face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}




.blackSmithTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.blackSmithTT_spritesheet {
    background: url("./assets/images/Tortous Blacksmith.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.blackSmithTT .blackSmithTT_spritesheet {
    animation: walkAnimation .7s steps(3) infinite;
}


.faceBlackSmithTT{
    background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 




.guard1TT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.guard1TT_spritesheet {
    background: url("./assets/images/Tortous guard 1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.guard1TT .guard1TT_spritesheet {
    animation: walkAnimation 4.7s steps(3) infinite;
}


.faceGuard1TT {
    background: url("./assets/images/Tortous guard 1 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 


.roofGuardTT {
    position: absolute;
    width: calc(var(--grid-cell)* 5);
    height: calc(var(--grid-cell)* 10);
    overflow: hidden;
}

.roofGuardTT_spritesheet {
    background: url("./assets/images/Tortous roof guard.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 20);
    height: calc(var(--grid-cell)* 10);
}

.roofGuardTT .roofGuardTT_spritesheet {
    animation: walkAnimation 0.7s steps(3) infinite;
}


.faceRoofGuardTT {
    background: url("./assets/images/Tortous guard 1 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 
