 .mapT {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Tortous tweaks no grid.png");
     background-size: 6656px;
     width: calc(260 * var(--grid-cell));
     height: calc(250 * var(--grid-cell));
     position: relative;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(104, 64px);
    grid-template-rows: repeat(100, 64px); */
 }

/* .numbers {
    size: 100%;
    background: transparent;
}  */

.cameraTT {
    position: relative;
    width: calc(var(--pixel-size) * 254);
    height: calc(var(--pixel-size) * 145);
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: #000a0b;
    max-width: 100%;
}

 
 @keyframes walkAnimation {
     from {
         transform: translate3d(0%, 0%, 0);
     }

     to {
         transform: translate3d(-100%, 0%, 0);
     }
 }


  .demon {
    /* z-index: -1; */
    position: relative;
    /*display: inline-block; */
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 2);
    overflow: hidden;
  }

  .demon_spritesheet {
      background: url("./assets/images/0.png") no-repeat no-repeat;
      background-size: 100%;
      width: calc(var(--grid-cell)* 2);
      height: calc(var(--grid-cell)* 2);
  }


.sweeperGuyTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
    max-width: 100%;
   }

   .sweeperGuyTT_spritesheet {
       background: url("./assets/images/Tortous sweeper guy.png") no-repeat no-repeat;
       background-size: 100%;
       width: calc(var(--grid-cell)* 7);
       height: calc(var(--grid-cell)* 3);
   }

   .sweeperGuyTT .sweeperGuyTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
   }


   .facesweeperGuyTT {
       position: absolute;
       display: flex;
       align-items: absolute;
       background: url("./assets/images/Indoor House 4 face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }


.brideTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 2.5);
    overflow: hidden;
}

.brideTT_spritesheet {
    background: url("./assets/images/Tortous bride.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.brideTT .brideTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
}


.faceBrideTT {
    background: url("./assets/images/Tortous bride face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}


.redheadTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.redheadTT_spritesheet {
    background: url("./assets/images/Indoorhouse1girl.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 36);
    height: calc(var(--grid-cell)* 3);
}

.redheadTT .redheadTT_spritesheet {
    animation: walkAnimation 3.6s steps(15) infinite;
}


.faceRedheadTT {
    background: url("./assets/images/Indoorhouse3girlface.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}

.brunetteTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.brunetteTT_spritesheet {
    background: url("./assets/images/IndoorHouse3Girl1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 36);
    height: calc(var(--grid-cell)* 3);
}

.brunetteTT .brunetteTT_spritesheet {
    animation: walkAnimation 3.6s steps(15) infinite;
}


.faceBrunetteTT {
    background: url("./assets/images/IndoorHouse3girl1face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}


.crazyGuyTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.crazyGuyTT_spritesheet {
    background: url("./assets/images/Tortous Crazy guy.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.crazyGuyTT .crazyGuyTT_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
}


.faceCrazyGuyTT {
    background: url("./assets/images/IndoorHouse3girl2face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}


.coinFlipperTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.coinFlipperTT_spritesheet {
    background: url("./assets/images/Tortous Coin Flipper.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.coinFlipperTT .coinFlipperTT_spritesheet {
    animation: walkAnimation .7s steps(3) infinite;
}


.faceCoinFlipperTT {
    background: url("./assets/images/Tortous Coin Flipper face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}


.blackSmithTT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.blackSmithTT_spritesheet {
    background: url("./assets/images/Tortous Blacksmith.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.blackSmithTT .blackSmithTT_spritesheet {
    animation: walkAnimation .7s steps(3) infinite;
}


.faceBlackSmithTT{
    background: url("./assets/images/IndoorHouse3girl2face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 

.guard1TT {
    position: absolute;
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.guard1TT_spritesheet {
    background: url("./assets/images/Tortous guard 1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 7);
    height: calc(var(--grid-cell)* 3);
}

.guard1TT .guard1TT_spritesheet {
    animation: walkAnimation 4.7s steps(3) infinite;
}


.faceGuard1TT {
    background: url("./assets/images/Tortous guard 1 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 


.roofGuardTT {
    position: absolute;
    width: calc(var(--grid-cell)* 5);
    height: calc(var(--grid-cell)* 10);
    overflow: hidden;
}

.roofGuardTT_spritesheet {
    background: url("./assets/images/Tortous roof guard.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 20);
    height: calc(var(--grid-cell)* 10);
}

.roofGuardTT .roofGuardTT_spritesheet {
    animation: walkAnimation 0.7s steps(3) infinite;
}


.faceRoofGuardTT {
    background: url("./assets/images/Tortous guard 1 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
} 


         .dogTT {
             /* z-index: -1; */
             position: absolute;
            /* display: inline-block; */
             width: calc(var(--grid-cell) * 2.2);
             height: calc(var(--grid-cell) * 2);
             overflow: hidden;
             animation-name: square;
             animation: square 8s linear infinite;
         }
    
         .dogTT_spritesheet {
             background: url("./assets/images/Dog 3 walk.png") no-repeat no-repeat;
             background-size: 100%;
             width: calc(var(--grid-cell) * 96);
             height: calc(var(--grid-cell)* 2);
             background-position-y: calc(var(--pixel-size) * -0);
             background-position-x: calc(var(--pixel-size) * -0);
    
         }
    
         .dogTT .dogTT_spritesheet {
             animation: walkAnimation 8s steps(48) infinite;
         } 
    
    
         @keyframes square {
             0% {
                 margin-left: 0px;
                 margin-top: 0px;
             }
    
             25% {
                 margin-left: 100px;
                 margin-top: 0px;
             }
    
             50% {
                 margin-left: 100px;
                 margin-top: 100px;
             }
    
             75% {
                 margin-top: 100px;
                 margin-left: 0px;
             }
    
             100% {
                 margin-left: 0px;
                 margin-top: 0px;
             }
         }



/* NPC WALKING DRONE TRY BELOW */

.npcWalkerDrone1 {
    z-index: -1;
    position: absolute;
    /* display: inline-block; */
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 2);
    overflow: hidden;
    grid-column-start: 10;
    grid-row-start: 5;
}

.npcWalkerDrone1_spritesheet {
    background: url("./assets/images/NPC WALKER DRONE 1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 8);
    height: calc(var(--grid-cell)* 8);
}


.npcWalkerDrone1[npcfacing="right"] .npcWalkerDrone1_spritesheet {
    background-position-y: calc(var(--pixel-size) * -48);
}

.npcWalkerDrone1[npcfacing="left"] .npcWalkerDrone1_spritesheet {
    background-position-y: calc(var(--pixel-size) * -24);
}

.npcWalkerDrone1[npcfacing="up"] .npcWalkerDrone1_spritesheet {
    background-position-y: calc(var(--pixel-size) * -72);
}


.npcWalkerDrone1[npcwalking = 'true'] .npcWalkerDrone1_spritesheet {
    animation: walkAnimation 1.0s steps(4) infinite;
}