:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 12);
    --bg: #070000;

}

@media(min-width: 700px) {
    :root {
        --pixel-size: 3px;
    }
}

@media(min-width: 1000px) {
    :root {
        --pixel-size: 4px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}


.mapTown1 {
    image-rendering: pixelated;
    background-image: url("./assets/maps/Town_Rock Path no grid npc.png");
    background-size: 4544px;
    width: calc(215 * var(--grid-cell));
    height: calc(177.5 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(71, 64px);
    grid-template-rows: repeat(86, 64px);  */
}


/* .numbers{
      size: 100%;
      background: transparent;
    }   */


  @keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }
  
    to {
        transform: translate3d(-100%, 0%, 0);
    }
  } 
  
   .mainGuardTM {
      position: absolute;
        width: calc(var(--grid-cell)* 2.5);
        height: calc(var(--grid-cell)* 2.5);
       overflow: hidden;
   }

   .mainGuardTM_spritesheet {
       background: url("./assets/images/Mountain Entrance Main Guard.png") no-repeat no-repeat;
       background-size: 100%;
        width: calc(var(--grid-cell)* 7);
        height: calc(var(--grid-cell)* 3);
   }

   .mainGuardTM .mainGuardTM_spritesheet {
    animation: walkAnimation 1.6s steps(3) infinite;
   }


   .faceMainGuardTM {
       background: url("./assets/images/Mountain Entrance Main Guard Face.png") no-repeat no-repeat;
       background-position: left top;
       background-size: 12%;
       background-size: content-box;
   }



