:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 12);
    --bg: #070000;

}

@media(min-width: 700px) {
    :root {
        --pixel-size: 3px;
    }
}

@media(min-width: 1000px) {
    :root {
        --pixel-size: 4px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}


.mapTTTV {
    image-rendering: pixelated;
    max-height: 50000px;
    min-width: 50000px;
    background-image: url("./assets/maps/Train track Valley no grid.png");
    background-size: 2944px;
    width: calc(115 * var(--grid-cell));
    height: calc(375 * var(--grid-cell));
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    /* display: grid;
    grid-template-columns: repeat(46, 64px);
    grid-template-rows: repeat(150, 64px);  */
}

/* .numbers {
    size: 100%;
    background: transparent;
}  */


.character {
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 2);
    overflow: hidden;




    /* margin-top: -58px;
    margin-left: -45px; */
}

.character_spritesheet {
    position: absolute;
    background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 8);
    height: calc(var(--grid-cell)* 8);

}

.character[facing="right"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -48);
}

.character[facing="up"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -72);
}

.character[facing="left"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -24);
}

.character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite;
}


@keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }
}