 :root {
     --pixel-size: 2px;
     --grid-cell: calc(var(--pixel-size) * 12);
     --bg: #070000;

 }

 @media(min-width: 700px) {
     :root {
         --pixel-size: 3px;
     }
 }

 @media(min-width: 1000px) {
     :root {
         --pixel-size: 4px;
     }
 }

 html,
 body {
     height: 100%;
 }

 body {
     background: var(--bg);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pixel-art {
     image-rendering: pixelated;
 }

 .mapTTTSA {
     image-rendering: pixelated;
     background-image: url("./assets/maps/Train track to St Anna w grid npc.png");
     background-size: 2560px;
     width: calc(100 * var(--grid-cell));
     height: calc(375 * var(--grid-cell));
     position: absolute;
     background-repeat: no-repeat;
     overflow: visible;
     /* display: grid;
    grid-template-columns: repeat(40, 64px);
    grid-template-rows: repeat(150, 64px); */
 }


 /* .numbers {
    size: 100%;
    background: transparent;
}   */



 .character {
     width: calc(var(--grid-cell)* 2);
     height: calc(var(--grid-cell)* 2);
     overflow: hidden;
 }

 .character_spritesheet {
     position: absolute;
     background: url("./assets/images/AjFP5.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 8);
     height: calc(var(--grid-cell)* 8);

 }

 .character[facing="right"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -48);
 }

 .character[facing="up"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -72);
 }

 .character[facing="left"] .character_spritesheet {
     background-position-y: calc(var(--pixel-size) * -24);
 }

 .character[walking="true"] .character_spritesheet {
     animation: walkAnimation 0.6s steps(4) infinite;
 }


 @keyframes walkAnimation {
     from {
         transform: translate3d(0%, 0%, 0);
     }

     to {
         transform: translate3d(-100%, 0%, 0);
     }
 }






 .guardRTTSA {
     position: absolute;
     width: calc(var(--grid-cell)* 2.5);
     height: calc(var(--grid-cell)* 2.5);
     overflow: hidden;
 }

 .guardRTTSA_spritesheet {
     background: url("./assets/images/Train Tracks To Saint Anna guard R.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 34);
     height: calc(var(--grid-cell)* 3);
 }

 .guardRTTSA .guardRTTSA_spritesheet {
     animation: walkAnimation 3.6s steps(15) infinite;
 }

 .faceGuardRTTSA {
     background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
     background-position: left top;
     background-size: 12%;
     background-size: content-box;
 }




 .guardLTTSA {
     position: absolute;
     width: calc(var(--grid-cell)* 2.5);
     height: calc(var(--grid-cell)* 2.5);
     overflow: hidden;
 }

 .guardLTTSA_spritesheet {
     background: url("./assets/images/Train Tracks To Saint Anna guard L.png") no-repeat no-repeat;
     background-size: 100%;
     width: calc(var(--grid-cell)* 34);
     height: calc(var(--grid-cell)* 3);
 }

 .guardLTTSA .guardLTTSA_spritesheet {
     animation: walkAnimation 3.6s steps(15) infinite;
 }

 .faceGuardLTTSA {
     background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
     background-position: left top;
     background-size: 12%;
     background-size: content-box;
 }



.dockguyTTSA {
    position: absolute;
    width: calc(var(--grid-cell)* 2.5);
    height: calc(var(--grid-cell)* 3);
    overflow: hidden;
}

.dockguyTTSA_spritesheet {
    background: url("./assets/images/Indoor House 2 guy.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 34);
    height: calc(var(--grid-cell)* 3);
}

.dockguyTTSA .dockguyTTSA_spritesheet {
    animation: walkAnimation 2.6s steps(5) infinite;
}

.faceDockguyTTSA {
    background: url("./assets/images/Indoor House 3 girl 2 face.png") no-repeat no-repeat;
    background-position: left top;
    background-size: 12%;
    background-size: content-box;
}
