@font-face {
    font-family: 'Pokemon Classic';
    src: url('Pokemon-Classic.eot');
    src: url('Pokemon-Classic.eot?#iefix') format('embedded-opentype'),
        url('Pokemon-Classic.woff2') format('woff2'),
        url('Pokemon-Classic.woff') format('woff'),
        url('Pokemon-Classic.ttf') format('truetype'),
        url('Pokemon-Classic.svg#Pokemon-Classic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

